<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
    </style>
    <title>Document</title>
</head>
<body>
    <!--TOP NAV IN GREEN-->
<div>
    <div id="nav">
        <h1 class="profile">CN </span>&nbsp;<span>
            <span style="color: #68e48d" >A</span>utomotive </span>&nbsp;<span>
            <span style="color:  #68e48d;" >D</span>ealership
        </h1>
        <ul class="nav-links">
            <li><a href="/allcars"  onmouseover="over(this)" onmouseout="out(this)">INVENTORY</a></li>
            <li><a href="/contact" onmouseover="over(this)" onmouseout="out(this)">CONTACT US</a></li>
            <li><a href="#" onmouseover="over(this)" onmouseout="out(this)"> &#9990; (718) 746-6063</a></li>
            <li><a href="/service"  onmouseover="over(this)"onmouseout="out(this)">SERVICES</a></li>
            <div class="dropdown">
                <button class="dropbtn" style="border-radius: 3px;">Click For More</button>
                <div class="dropdown-content">
                <a href="/contact">Schedule an appointment</a>
                <a href="/about_us">About us</a>
                <a href="/careers">Careers</a>
                </div>
            </div>
        </ul>
    </div>
    <!-- END OF TOP NAV IN GREEN-->
    <!--SECONDARY NAV IN BLACK-->
    <div class="header" style="justify-content:space-between;">
        <h1 class="head">We have been proudly serving the community for over 30 years</h1>
        <a href="/tour" class="tour" onmouseover="hover(this)" onmouseout="end_hover(this)" style="border: none; color: white; background-color: #68e48d; margin-left: 20%;">
        TOUR OUR FACILITY</a>
        
        <!--LOGIN POPUP-->
    <div class="popup" id="popup-2">
        <div class="overlay-div"></div>
            <div class="content">
                <div class="close-btn"  onclick="loginPopup()">&#10006;</div>
                    <h3>Login:</h3>
                    <form action="/login" method="post" style="width: 300px; height: 300px; margin-top: 20px;">
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {%if messages %}
                            {% for message in messages %}
                                <p class="text-center text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" style="width: 200px; height: 30px; margin-top: 20px; margin-left: 30px;">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" style="width: 200px; height: 30px; margin-top: 20px;">
                    </div>
                        <input type="submit" value="login" style="width: 50px; height: 40px; margin-top: 10px; background-color: rgb(76, 97, 216); color: white; border: none; border-radius: 3px;">
                    </form>
                </div>
            </div>
        </div>
            <!--END OF LOGIN POP UP-->

        <!--POP UP SECTION FOR SAVED SEARCHES-->
        <div class="popup" id="popup-1">
            <div class="overlay-div"></div>
            <div class="content">
                <div class="close-btn"  onclick="togglePopup()">&#10006;</div>
                <h1>Saved Searches:</h1>
                <p style="margin-top: 30px;">Please Login or Register to save your searches.</p>
                <p style="text-align: center; margin-top: 20px;">Thank You.</p>
            </div>
        </div>
        <!--END OF POP UP SECTION FOR SAVED SEARCHES-->
    </div>
    <!--FIRST BODY INFO, INTRO SCREEN-->
    <div class="image-container">
        <img src="{{ url_for('static', filename='dealership.jpg') }}" class="car" alt="car" style="height: 520px;">
    </div>
    <div style="position: absolute; top: 25%; right: 30%; width: 500px; height: 400px; background-color:white; border-style: solid;">
        <p style="margin-top: 50px; padding: 10px;">New York customers love the no pressure sales experience at Automotive Dealership. Here at Automotive
            Dealership our mission is to treat every visitor like an honored guest in our home, but it is much
            more than a mission statement. Our customers quickly learn that shopping at our New York
            car dealership means being treated with respect and not having to negotiate or visit multiple
            NY dealers to get the price you deserve. Being treated like family means that when shopping
            at our luxury dealership, you’ll get real price quotes on the new and used cars you’re looking for
            when you request it. These business methods have helped us stand out from other New York used and new
            vehicle dealers and it’s exactly why our customers keep choosing Automovite Dealership.
            If you’ve had a great experience, refer your friends and family!"
        </p>
        <a href="/dashboard" style="color: blue; background-color: blue; color:white; border-radius: 3px; top: 10%; margin-left: 10px; padding: 10px;">
        Back to Site</a>
    </div>

    <!--END OF TOUR POP UP-->
    <!--END OF SECONDARY NAV IN BLACK-->